@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cursoSubmit {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}



table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

.details-btn {
    background-color: #CCD5AE;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}

.details-btn:hover {
    background-color: #E9EDC9;
}

.edit-btn {
    background-color: #D4A373;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #FAEDCD;
}

.delete-btn{
    background-color: #D00000;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #FAA307;
}

